:root {
  background-image: linear-gradient(to right bottom, #b9084e, #9d005e, #790668, #4e166b, #0c1c67);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}