:root {
  background-image: linear-gradient(to right bottom, #ff0065, #ca024b, #980233, #68011e, #3d0008);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}